# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/index.php
/authorize.php
/cron.php
/.editorconfig
/update.php
/web.config
/xmlrpc.php
/includes/
/misc/
/modules/
/themes/
/scripts/
/profiles/
/.htaccess
